<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Changa' rel='stylesheet'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <style>
        .cards {
            font-family: 'Changa';font-size: 22px;
            font-size: 15px;
        }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <img src="{{ url_for('static', filename='image/logo.png') }}" id="proman" class="navbar-brand mb-0 h3"></img>
            <button class="btn-danger" id="addNewBoardButton">Add New Board</button>

            <div id="addNewBoardForm" class="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Board</h5>
                            <span class="close">&times;</span>
                        </div>
                        <div class="modal-body">
                            <p>Insert your new board name, please.</p>
                            <form method="post">
                                <input type="text" id="boardName">
                                <input type="button" id="saveBoardName" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addNewCardForm" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Card</h5>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <p>Insert your new card title, please.</p>
                        <form method="post">
                            <input type="text" id="cardName">
                            <input type="button" id="saveCardName" value="ADD">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="editCardForm" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Card</h5>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <p>Insert new card title, please.</p>
                        <form method="post">
                            <input type="text" id="newCardName">
                            <input type="button" id="saveNewCardName" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="warning" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning</h5>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <p>Check your data, please.</p>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <article>
        <div class="jumbotron">
            <div id="boards" class="container">Boards are loading...</div>
        </div>
    </article>
    <footer>
        <div>web-pro-man-betterlatethannever</div>
    </footer>
    </body>
</html>
