<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Changa' rel='stylesheet'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}">
        <style>
        .cards {
            font-family: 'Changa';font-size: 22px;
            font-size: 15px;
        }
        </style>
    </head>
    <body>

    <!-- Modal for login purposes -->
    <div class="modal modal-backdrop" id="login-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><b>Login</b></h2>
                    <button type="button" id="close-login-modal" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="{{ url_for('login') }}" method="POST" id="login-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username-login"><b>Username</b></label><br>
                            <input type="text" class="form-control" placeholder="Enter username" name="username-login"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="password-login"><b>Password</b></label><br>
                            <input type="password" class="form-control" placeholder="Enter password"
                                   name="password-login" required>
                        </div>
                        <button type="submit" class="btn btn-info" id="login-accept-button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for sign up purposes -->
    <div class="modal modal-backdrop" id="signup-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><b>Sign up</b></h2>
                    <button type="button" id="close-signup-modal" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="{{ url_for('signup') }}" method="POST" id="signup-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username-signup"><b>Username</b></label><br>
                            <input type="text" class="form-control" placeholder="Enter username" name="username-signup"
                                   pattern=".{3,}" required title="minimum 3 characters">
                        </div>
                        <div class="form-group">
                            <label for="password-signup"><b>Password</b></label><br>
                            <input type="password" class="form-control" placeholder="Enter password"
                                   name="password-signup" pattern=".{3,}" required title="minimum 3 characters">
                        </div>
                        <button type="submit" class="btn btn-info" id="signup-accept-button">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Add new board modal-->
    <div id="addNewBoardForm" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Board</h5>
                    <span class="close" id="addNewBoardClose">&times;</span>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('save_board') }}" method="POST" id="newBoardForm">
                        <div class="form-group">
                            <label for="newBoardName">Insert your new board name, please.</label>
                            <input type="text" class="form-control" placeholder="Enter new board name"
                                    pattern=".{3,}" required title="minimum 3 characters" name="new-board-title">
                            <button type="submit" class="btn btn-info" id="save-new-board-button">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Add new card modal-->
    <div id="addNewCardForm" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Card</h5>
                    <span class="close" id="addNewCardFormClose">&times;</span>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('save_card') }}" method="POST" id="newCardForm">
                        <div class="form-group">
                            <input name="board-id-new-card" id="board-id-new-card" hidden>
                            <label for="newCardName">Insert your new card title, please.</label>
                            <input type="text" class="form-control" placeholder="Enter new card name"
                                    pattern=".{3,}" required title="minimum 3 characters" name="new-card-title">
                            <button type="submit" class="btn btn-info" id="saveCardName">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Edit card modal-->
    <div id="editCardForm" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Card</h5>
                    <span class="close" id="editCardFormClose">&times;</span>
                </div>
                <div class="container">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm">
                                <p>Insert new title and save</p>
                                <input type="text" id="newCardName">
                                <button type="submit" id="saveNewCardName" value="EditAndSave">Save</button>
                            </div>
                            <div class="col-sm">
                                <p>or delete your card</p><br/>
                                <form action="{{ url_for('boards') }}" method="post" id="deleteCards">
                                    <input type="text" id="deletedCardNum" name='delCardNum' hidden></input>
                                    <button type="submit" id="deleteCard" form="deleteCards" value="Submit">Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Warning message modal-->
    <div id="warning" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                    <span class="close" id="warningClose">&times;</span>
                </div>
                <div class="modal-body">
                    <p>Check your data, please.</p>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <img src="{{ url_for('static', filename='image/logo.png') }}" id="proman"
                 class="navbar-brand mb-0 h3"></img>

            <!-- Login and sign up buttons -->
            <input value="{{ username }}" id="username" hidden>
            <input value="{{ boards }}" id="user-boards" hidden>
            <input value="{{ cards }}" id="user-cards" hidden>
            <input value="{{ statuses }}" id="statuses" hidden>
            <div id="login-buttons">
                {% if msg %}
                <h3 id="error-msg" class="header">{{ msg }}</h3>
                {% endif %}

                {% if username %}
                <button class="btn btn-danger" id="addNewBoardButton">Add New Board</button>
                <a href="{{ url_for('logout') }}">
                    <button type="button" id="logout-button" class="btn btn-info">Sign out</button>
                </a>
                <h3 id="login-info" class="header">Signed in as {{ username }}</h3>
                {% else %}
                <button type="button" id="login-button" class="btn btn-info" onclick="showLoginModal()">Login</button>
                <button type="button" id="signup-button" class="btn btn-info" onclick="showSignupModal()">Sign up
                </button>
                {% endif %}
            </div>
        </div>
    </nav>
    <article>
        <div class="jumbotron">
            <div id="boards" class="container">Boards are loading...</div>
        </div>
    </article>
    <footer>
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-black">
            <p>web-pro-man-betterlatethannever</p>
            <p class="h6">© All right Reversed.</p>
        </div>
        <div></div>
    </footer>
    </body>
</html>
